# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.root
*.png

root/*

analyzer_exec
plotter_stack_exec
*_exec

*.txt

*.class.C
*.weights.xml

venv/*

*.pdf

ugent2016-master/*

.vscode/*
*.code-workspace
